{% extends 'base.html.twig' %}

{% block main %}
    <h4 class="mb-5">
        {{ 'Edit team'|trans }}
        <span class="text-muted">{{ team.id }}</span>
    </h4>

    {{ include('team/_form.html.twig', {
        form: form
    }) }}
{% endblock %}
