{% extends 'base.html.twig' %}

{% block main %}
    <h4 class="mb-5">
        {{ 'Group'|trans }}
        <span class="text-muted">{{ group.id }}</span>
    </h4>

    {{ include('group/_form.html.twig', {
        form: form
    }) }}
{% endblock %}
